.stat-block {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.stat-block .stat-value .stat-dnum {
  width: 40px;
}
.stat-block .stat-value .stat-dtype {
  width: 40px;
}
.stat-block .stat-value .stat-mod {
  width: 40px;
}
