.vackster.sheet.pc .body {
  display: flex;
  flex-direction: row;
}
.vackster.sheet.pc .body .actions {
  width: 50%;
}
.vackster.sheet.pc .body .stat-block {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.vackster.sheet.pc .body .stat-block .stat-value .stat-dnum {
  width: 40px;
}
.vackster.sheet.pc .body .stat-block .stat-value .stat-dtype {
  width: 40px;
}
.vackster.sheet.pc .body .stat-block .stat-value .stat-mod {
  width: 40px;
}
