.sheet form {
  display: flex;
  flex-direction: column;
}
.sheet .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.vackster.sheet.pc .body {
  display: flex;
  flex-direction: column;
}
.vackster.sheet.pc .body .row {
  display: flex;
  flex-direction: row;
}
.vackster.sheet.pc .body .stat-block {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.vackster.sheet.pc .body .stat-block .stat-value {
  width: 40px;
}
.stat {
  width: 40px;
}
