.vackster.sheet.pc .body {
  display: flex;
  flex-direction: column;
}
.vackster.sheet.pc .body .row {
  display: flex;
  flex-direction: row;
}
.vackster.sheet.pc .body .stat-block {
  display: flex;
  flex-direction: column;
  width: 120px;
  padding-bottom: 10px;
}
.vackster.sheet.pc .body .stat-block h3 {
  display: inline-block;
  width: 50px;
  font-weight: bold;
}
.vackster.sheet.pc .body .stat-block .stat-value {
  display: inline;
  width: 60px;
}
.vackster.sheet.pc .body .skills {
  padding-right: 5px;
  border-right: 1px solid black;
}
.vackster.sheet.pc .body .skills .skill {
  display: flex;
  flex-direction: row;
}
.vackster.sheet.pc .body .skills .skill h3 {
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}
.vackster.sheet.pc .body .skills .skill .stat {
  width: 60px;
}
