<form class="{{cssClass}}" autocomplete="off">
    <div class="actor-info">
        <h1>
            <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" width="64" height="64" />
            <span id="actor-name">{{actor.name}}</span>
        </h1>
    </div>
    <div class="body">
        <div class="row">
            {{> "systems/Vackster/templates/partials/character-stat-block.hbs"}}
            {{> "systems/Vackster/templates/partials/character-skill-block.hbs"}}
        </div>
        <div class="row">
            {{> "systems/Vackster/templates/partials/item-card.hbs"}}
        </div>
    </div>
</form>